<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
	<targets>
		<target name="database"
				xsi:type="Database"
				dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite">
			<connectionString>Data Source=${basedir}/logs/app-logs.db;Mode=ReadWriteCreate;Cache=Shared</connectionString>
			<commandText>
				INSERT INTO system_logging(log_date, log_level, log_logger, log_message, log_exception)
				VALUES(@time_stamp, @level, @logger, @message, @log_exception)
			</commandText>
			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@log_exception" layout="${exception:tostring}" />
		</target>
		<target name="ui" xsi:type="DataGrid" />
	</targets>
	<rules>
		<logger name="Microsoft.EntityFrameworkCore*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="database,ui" />
	</rules>
</nlog>